
/* Small Screen */
@media(max-width: 640px){
    html{
        font-size: 12px;
    }
    header{
        flex-direction: column;
    }
    .nav-options{
        flex-direction: column;
    }
    .logo img{
        width: 100%;
        margin: 1rem 0px;
    }

}